<% include ../../helpers/singin-singup %>
<div class="container" id="container">
	<div class="form-container sign-in-container" >
		<% if(notify.length > 0) { %>
			<div class="notify">
				<i class="fas fa-exclamation-triangle icon-warning"></i>
				<span><%= notify[0].msg %> </span>
			</div>
		<% } %> 
		<form action="<%= systemConfig.prefixUsers %>accounts/sing-in" method="POST">
			<h1>Đăng nhập</h1>
			<%- authenticationHelper(systemConfig.prefixUsers, item, err, {task : ''}) %> 
			<a href="#">Quên mật khẩu</a>
			<button id="sing-in" >Đăng nhập</button>
		</form>
	</div>
	<div class="overlay-container-right">
		<div class="overlay overlay-right">
			<div class="overlay-panel overlay-right">
				<h1>Xin chào!</h1>
				<p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
				<a href="<%= systemConfig.prefixUsers %>accounts/sing-up" class="ghost" id="signUp">Đăng kí</a>
			</div>
		</div>
	</div>
</div>